*, *:before, *:after {
  box-sizing: border-box; }

body {
  color: #cccccc;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1;
  background: #5a5a5a;
  margin: 0;
  padding: 20px; }

.prewhoa, .whoa, .permawhoa {
  text-align: center; }

.prewhoa {
  font-size: 48px;
  line-height: 1.2; }

.whoa {
  color: white;
  display: block;
  width: 100%;
  background: #c80000;
  padding: 10px;
  text-decoration: none;
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  margin-top: 20px;
  box-shadow: 10px 10px 1px 0 rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  border: 5px solid rgba(0, 0, 0, 0.5);
  transition: background 0.2s ease; }
  .whoa:hover {
    background: #dc0000; }
  .whoa:active {
    background: #ff1e1e; }

.permawhoa {
  margin-top: 20px; }
