<!doctype html>

<% constrain_width ||= false %>

<head>
  <title>WHOA</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet"    href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700" type="text/css">
  <link rel="stylesheet"    href="/sass/whoa.css" type="text/css">
<head>

<body>
    <div class="prewhoa"><%= whoa %></div>
    <a href="/" class="whoa">WHOA</a>
    <button id="playwhoa" data-start="<%= start %>" data-stop="<%= stop %>">drop the needle on this WHOA</button>
    <div class="permawhoa">∞ http://whoaapp.herokuapp.com/<%= key %>/</div>

    <script src="/coffee/whoa.js"></script>
</body>
